Raphaël Bleuse <raphael.bleuse@inria.fr>
Henri Casanova <henric@hawaii.edu> henricasanova <henric@dirt00.ics.hawaii.edu>
Pierre-François Dutot <pfdutot@imag.fr>
David Glesser <david.glesser@imag.fr>
Steffen Lackner <lackner@cs.tu-darmstadt.de>
Michael Mercier <michael.mercier@inria.fr>
Clément Mommessin <clement.mommessin@inria.fr>
Millian Poquet <millian.poquet@inria.fr>
Olivier Richard <olivier.richard@imag.fr>
